.active-cyan-2 input.form-control[type=text]:focus:not([readonly]) {
    border-bottom: 1px solid #4dd0e1;
    box-shadow: 0 1px 0 0 #4dd0e1;
}
.active-cyan-2 .fa {
color: #4dd0e1;
}

*{font-family: Roboto;
    font-style: normal;
}

input{
    background: rgba(112, 217, 213, 0.15);
border: 1px solid #000000;
box-sizing: border-box;
}

label {
    display: block;
    margin: 4px ;
    padding-left: 4px ;
}
h1{text-align: center;}

#registerBtn{
    width: 167px;
    height: 70px;
    background: rgba(112, 217, 213, 0.5);
    border-radius: 30px; 
    
}

